html {
    overflow-x: hidden;
    margin-top: 0px !important;
}
body{
    margin-top: 0px !important;
}

/*Accueil*/

#first {
    background-color: #0a5aa6;
    min-height: 65em;
    min-width: 100%;
    z-index: 55;
}
#usine {
    min-height: 75em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top: -275px;
    background: url('../axelone1/img/flatusine.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#persoheader {
    min-height: 65em;
    z-index: 99;
    min-width: 100%;
    background: url('../axelone1/img/personnages.png') no-repeat center bottom;
    position: absolute;
    margin-top: 26em;
}
#deuz {
    background-color: lightgrey;
    min-height: 40em;
    min-width: 100%;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top: -275px;
}
.firstriangle {
    padding: 0 !important;
    display: block;
}
.bordtriangle1 {
    width: 0;
    height: 0;
    border-bottom: 10em solid #ddc503;
    border-right: 75em solid transparent;
    z-index: 57;
    float: right;
    position: absolute;
    top: -10em;
}
.bordtriangle2 {
    width: 0;
    height: 0;
    border-bottom: 10em solid #ddc503;
    border-left: 75em solid transparent;
    z-index: 57;
    float: right;
    position: relative;
    top: -10em;
}
.triangle1 {
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-right: 75em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top: -275px;
}
.triangle2 {
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-left: 75em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top: -275px;
}
.deuztext {
    position: relative;
    z-index: 90;
    top: 6em;
}
#deuz h3 {
    z-index: 90;
    position: relative;
    text-align: center;
    top: 4em;
    font-size: 60px;
}
.triangle3 {
    width: 0;
    height: 0;
    border-bottom: 13em solid #ddc503;
    border-left: 100em solid transparent;
    z-index: 60;
    float: right;
    position: relative;
    top: 8em;
}
.triangle4 {
    width: 0;
    height: 0;
    border-bottom: 13em solid #ddc503;
    border-right: 100em solid transparent;
    z-index: 60;
    float: right;
    position: absolute;
    top: 8em;
}
#troiz {
    background-color: black;
    min-height: 50em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top: -275px;
    background: url('../axelone1/img/factory.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#opacity1 {
    background-color: black;
    min-height: 45em;
    margin: 40px 50px 40px 5%;
    opacity: 0.6;
}
#opacity2 {
    background-color: black;
    height: 45em;
    margin: 40px 5% 40px 20px;
    opacity: 0.6;
}
.karine {
    color: white;
    text-align: center;
    display: block;
    margin-top: 50%;
    font-size: 70px;
    font-weight: lighter!important;
}
.axel {
    color: #ddc503;
    text-align: center;
    font-size: 55px;
    font-weight: lighter!important;
    margin-top: 10%;
}
.apropotxt {
    color: white;
    font-family: helvetica;
    font-size: 20px;
    margin-top: 20%;
}
#katre {
    border-top: 3px solid #ddc503;
    border-bottom: 3px solid red;
    background-color: lightgrey;
    min-height: 40em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top: -275px;
}
#katre h3 {
    z-index: 90;
    position: relative;
    text-align: center;
    font-size: 60px;
    top: 1em;
    color: grey;
}
#katre p {
    font-size: 20px;
    text-align: center;
    top: 5em;
    z-index: 90;
    position: relative;
    text-align: center;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10em;
}
.blockjaune {
    min-height: 10em;
    min-width: 10em;
    background-color: #ddc503;
    width: 80%;
    margin-left: 20%;
    position: absolute;
    bottom: 0;
    z-index: 60;
}
#scroller {
    position: relative;
    width: 100%;
    z-index: 80;
    margin-top: 3em;
    height: 100% !important;
    min-height: 10em !important;
}
#scroller .zone {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}
#scroller img {
    position: relative;
    z-index: 80;
    margin-left: 15em;
    margin-right: 15em;
    min-width: 10em;
    min-height: 10em;
    max-height: 10em;
    max-width: 10em;
}
#scroller img:hover {
    position: relative;
    z-index: 81;
}
#cink {
    background-color: white;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top: -275px;
    max-height: 70em;
}
#cink h3 {
    z-index: 90;
    text-align: center;
    font-size: 60px;
}
#cink h4 {
    z-index: 90;
    text-align: center;
    font-size: 60px;
    top: 5em;
    position: relative;
}
.cinkontact {
    top: -100em;
}
#cink h5 {
    color: gold;
    z-index: 90;
    position: relative;
    text-align: center;
    font-size: 60px;
    margin-bottom: 1em;
    top: 10em;
}
#cink h6 {
    color: gold;
    z-index: 90;
    position: relative;
    text-align: center;
    font-size: 50px;
    margin-bottom: 1em;
    top: 12em;
}
.bordtriangle3 {
    width: 0;
    height: 0;
    border-bottom: 13em solid white;
    border-right: 95em solid transparent;
    z-index: 59;
    float: left;
    left: 100%;
    position: absolute;
    top: 90px;
}
.bordtriangle4 {
    width: 0;
    height: 0;
    border-bottom: 13em solid white;
    border-left: 95em solid transparent;
    z-index: 59;
    float: left;
    right: 100%;
    position: absolute;
    top: 90px;
}
.triangle5 {
    width: 0;
    height: 0;
    border-bottom: 13em solid #ddc503;
    border-left: 95em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top: 6em;
}
.triangle6 {
    width: 0;
    height: 0;
    border-bottom: 13em solid #ddc503;
    border-right: 95em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top: 6em;
}
.triangle7 {
    width: 0;
    height: 0;
    border-bottom: 30em solid #ddc503;
    border-top: 30em solid #ddc503;
    border-left: 200em solid transparent;
    z-index: 60;
    float: right;
    position: relative;
    top: 10em;
    left: 30%;
}
.triangle8 {
    width: 0;
    height: 0;
    border-bottom: 30em solid #ddc503;
    border-top: 30em solid #ddc503;
    border-right: 200em solid transparent;
    z-index: 60;
    float: right;
    position: absolute;
    top: 10em;
    left: -30%;
}
#cink img {
    z-index: 59;
    position: relative;
    min-height: 80em;
    top: -56em;
}
#siss {
    margin-top: 35em;
    background-color: #d65c5c;
    min-height: 20em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    top: 0em;
}
#siss p {
    margin: 0 !important;
}
.sissp {
    text-transform: uppercase !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    color: white;
    line-height: 50px;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 50px;
}
#siss input {
    z-index: 60;
    min-height: 5em;
    width: 70%;
    float: left;
    margin-bottom: 4em;
    position: relative !important;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 5px solid white;
}
#siss textarea {
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 5px solid white;
    width: 70%;
    float: left;
}
#siss button {
    margin-top: 3em;
    background-color: white;
    color: darkgray;
    min-width: 30%;
    min-height: 3em;
    font-size: 20px;
    float: left;
}
.bordtriangle5 {
    width: 0;
    height: 0;
    border-bottom: 10em solid #d65c5c;
    border-right: 95em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top: -9em;
}
.bordtriangle6 {
    width: 0;
    height: 0;
    border-bottom: 10em solid #d65c5c;
    border-left: 95em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top: -9em;
}
.triangle9 {
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-right: 95em solid transparent;
    z-index: 55;
    float: right;
    position: absolute;
    top: -10em;
}
.triangle10 {
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-left: 95em solid transparent;
    z-index: 55;
    float: right;
    position: relative;
    top: -20em;
}



/*autre*/

h1 {
    color: #1991dd;
}
header {}
header ul {
    margin: 0;
}
header ul li {
    display: inline-block;
    list-style-type: none;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: white;
}
header ul li a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none !important;
}
header ul li a:hover {
    text-decoration: none;
    color: #ff7d44;
}
header ul li.current-menu-item a {
    color: black;
}
body {
    margin: 0px;
}
#head1 {
    background-color: #00a0d1 !important;
    height: 600px;
}
#triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid #00a0d1;
    border-left: 720px solid transparent;
    float: left;
}
#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid #00a0d1;
    border-right: 720px solid transparent;
    float: right !important;
}
#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid mediumvioletred;
    border-left: 720px solid transparent;
    float: left !important;
    z-index: 999 !important;
    margin-top: 200px;
}
#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid mediumvioletred;
    border-right: 720px solid transparent;
    float: right !important;
    z-index: 999 !important;
    margin-top: 200px;
}
.tri {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.nav {
    margin: 0 auto !important;
    background: none !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 999 !important;
    Updated: upstream
}
.menu {
    float: right;
    margin-right: 5%;
    margin-top: 2%;
    font-size: 15px;
}
.secondiv {
    background-color: greenyellow !important;
    height: 570px;
}
.thirdiv {
    background-color: rebeccapurple !important;
    height: 800px;
}
.partenaires {
    background-color: lightyellow !important;
    height: 500px;
}
.projetitre {
    background-color: aquamarine !important;
    height: 300px;
}
.projet {
    background-color: mediumvioletred !important;
    height: 500px;
}

/** Fabien à propos **/

.deuztext h2 {
    text-align: center !important;
}
.glyph {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    color: #d65c5c;
}
.deuztext p {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 3%;
}
@font-face {
    font-family: 'code_lightregular';
    src: url('fonts/code_light.eot');
    src: url('fonts/code_light.eot?#iefix') format('embedded-opentype'), url('fonts/code_light.woff2') format('woff2'), url('fonts/code_light.woff') format('woff'), url('fonts/code_light.ttf') format('truetype'), url('fonts/code_light.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#titre {
    font-family: 'code_lightregular';
    font-weight: bold;
}
.footer {
    background-color: darkgrey;
    text-align: center;
    font-family: code_lightregular;
    font-weight: bold;
    font-size: 1em;
}
.footer a {
    text-decoration: none!important;
    font-color: black!important;
}
.entreprise {
    margin-top: 10%;
    margin-left: 55%;
    text-align: center;
}
.histoire {
    margin-left: 5%;
    text-align: center;
}
.apropos {
    background-color: lightgrey;
}
.triangle3apropos {
    width: 0;
    height: 0;
    border-top: 13em solid #ddc503;
    border-left: 100em solid transparent;
    z-index: 0;
    float: right;
    position: relative;
    top: 8em;
}
.triangle4apropos {
    width: 0;
    height: 0;
    border-top: 13em solid #ddc503;
    border-right: 100em solid transparent;
    z-index: 0;
    float: right;
    position: absolute;
    top: 8em;
}
.firstriangleapropos {
    padding: 0 !important;
    display: block;
}
.triangleapropos {
    margin-top: -8em;
}
/*Formation*/
#formation1{
    background-color: #c80d0d;
    z-index: 59;
    position: relative;
}
#formation1 h1 {
    text-align: center;
    position: relative;
    z-index: 61;
    color: black;
}
.formationtriangle1 {
    width: 0;
    height: 0;
    z-index: 60;
    float: right;
    position: relative;
}
.formationtriangle2 {
    width: 0;
    height: 0;
    z-index: 60;
    float: right;
    position: absolute;
}
#formation2{
    z-index: 54;
}
.formationvideo{
    z-index: 55 !important;
    min-width: 100% !important;
    position: relative;
}
#formation3{
    z-index: 60;
}
#formation3 h2{
    text-align: center;
}
#formation3 p{
    text-align: center;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#formation4{
    background-color: #ddc503;
    z-index: 59;
    position: relative;
}
.formationtriangle3{
    width: 0;
    height: 0;
    z-index: 60;
    float: right;
    position: relative;
}
.formationtriangle4{
    width: 0;
    height: 0;
    z-index: 60;
    float: right;
    position: absolute;
}
#formation4 p{
    color:white;
    position: relative;
}
#formation4 img{
    position: relative;
}
/*MediaQuerries*/
/*1900*/
@media only screen and (min-width : 1636px) {
    #formation1{
        margin-top: 0 !important;
        top: -2em;
    }
    #formation1{
        min-height: 20em;
    }
    #formation1 h1 {
        font-size: 60px;
        top: 4em;
    }
    .formationtriangle1 {
        border-top: 15em solid #c80d0d;
        border-left: 30em solid transparent;
        top:10em;
    }
    .formationtriangle2 {
        border-top: 15em solid #c80d0d;
        border-right: 30em solid transparent;
        top:10em;
    }
    #formation2{
        min-height: 20em;
        max-height: 60em;
    }
    .formationvideo{
        min-height: 54em !important;
        min-width: 100% !important;
        top: -6em;
    }
    #formation3{
        min-height: 41em;
    }
    #formation3 h2{
        font-size: 50px;
    }
    #formation3 p{
        width: 90%;
        font-size: 20px;
        margin-top: 2em;
    }
    #formation4{
        margin-top: 2em !important;
        min-height: 35em;
    }
    .formationtriangle3{
        border-bottom: 13em solid #ddc503;
        border-left: 100em solid transparent;
        top:-12em;
    }
    .formationtriangle4{
        border-bottom: 13em solid #ddc503;
        border-right: 100em solid transparent;
        top:-12em;
    }
    #formation4 img{
        margin-left: 50%;
        position: relative;
    }
    #formation4 .description{
        margin-top: 2em;
    }
    .divbas{
        display: none;
    }
}
/*1500*/
@media only screen and (max-width : 1635px) and (min-width : 1300px) {
    #formation1{
        margin-top: 0 !important;
        top: -2em;
    }
    #formation1{
        min-height: 20em;
    }
    #formation1 h1 {
        font-size: 60px;
        top: 4em;
    }
    .formationtriangle1 {
        border-top: 15em solid #c80d0d;
        border-left: 30em solid transparent;
        top:10em;
    }
    .formationtriangle2 {
        border-top: 15em solid #c80d0d;
        border-right: 30em solid transparent;
        top:10em;
    }
    #formation2{
        min-height: 20em;
        max-height: 60em;
    }
    .formationvideo{
        min-height: 35em !important;
        min-width: 100% !important;
        top: -6em;
    }
    #formation3{
        min-height: 40em;
    }
    #formation3 h2{
        font-size: 50px;
    }
    #formation3 p{
        width: 90%;
        font-size: 18px;
        margin-top: 2em;
    }
    #formation4{
        margin-top: 7em !important;
        min-height: 40em;
    }
    .formationtriangle3{
        border-bottom: 13em solid #ddc503;
        border-left: 100em solid transparent;
        top:-12em;
    }
    .formationtriangle4{
        border-bottom: 13em solid #ddc503;
        border-right: 100em solid transparent;
        top:-12em;
    }
    #formation4 img{
        margin-left: 50%;
    }
    #formation4 .description{
        margin-top: 2em;
    }
    .divbas{
        display: none;
    }
}
/*1200*/
@media only screen and (max-width : 1299px) and (min-width : 1000px) {
    #formation1{
        margin-top: 0 !important;
        top: -2em;
    }
    .divbas{
        display: none;
    }
    #formation1{
        min-height: 20em;
    }
    #formation1 h1 {
        font-size: 60px;
        top: 4em;
    }
    .formationtriangle1 {
        border-top: 15em solid #c80d0d;
        border-left: 30em solid transparent;
        top:10em;
    }
    .formationtriangle2 {
        border-top: 15em solid #c80d0d;
        border-right: 30em solid transparent;
        top:10em;
    }
    #formation2{
        min-height: 20em;
        max-height: 60em;
    }
    .formationvideo{
        min-height: 29em !important;
        min-width: 100% !important;
        top: -6em;
    }
    #formation3{
        min-height: 40em;
    }
    #formation3 h2{
        font-size: 40px;
    }
    #formation3 p{
        width: 90%;
        font-size: 16px;
        margin-top: 2em;
    }
    #formation4{
        margin-top: 7em !important;
        min-height: 32em;
    }
    #formation4 p{
        top: -11em;
    }
    .formationtriangle3{
        border-bottom: 13em solid #ddc503;
        border-left: 100em solid transparent;
        top:-12em;
    }
    .formationtriangle4{
        border-bottom: 13em solid #ddc503;
        border-right: 100em solid transparent;
        top:-12em;
    }
    #formation4 img{
        margin-left: 50%;
        top: -10em;
    }
    #formation4 .description{
        margin-top: 2em;
    }
}
/*Ipad*/
@media only screen and (max-width : 999px) and (min-width : 700px) {
    body{
         padding-right: 0px !important;
         padding-left: 0px !important;
    }
    .divsup{
        display: none;
    }
    .divbas{
        margin-top: 3em;
    }
    main{
        background-color: white !important;
    }
    #formation1{
        margin-top: 0 !important;
        top: -2em;
    }
    #formation1{
        min-height: 20em;
    }
    #formation1 h1 {
        font-size: 50px;
        top: 4em;
    }
    #formation2{
        min-height: 20em;
        max-height: 60em;
    }
    .formationvideo{
        min-height: 18em !important;
        min-width: 100% !important;
        top: -6em;
    }
    #formation3{
        min-height: 20em;
    }
    #formation3 h2{
        font-size: 30px;
    }
    #formation3 p{
        width: 90%;
        font-size: 12px;
        margin-top: 2em;
    }
    #formation4{
        margin-top: 7em !important;
        min-height: 26em;
    }
    #formation4 img{
        margin-left: 50%;
        max-height: 10em;
        margin-top: 6em;
    }
    #formation4 .description{
        margin-top: 2em;
    }
    body{
        background-color: darkgrey;
    }
}
/*Smartphone*/
@media only screen and (max-width : 699px) and (min-width : 400px) {
    body{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .divsup{
        display: none;
    }
    .divbas{
        margin-top: 3em;
    }
    #formation1{
        margin-top: 0 !important;
        top: -2em;
    }
    #formation1{
        min-height: 20em;
    }
    #formation1 h1 {
        font-size: 30px;
        top: 4em;

    }
    #formation2{
        min-height: 20em;
        max-height: 60em;
    }
    .formationvideo{
        min-height: 18em !important;
        min-width: 100% !important;
        top: -6em;
    }
    body{
        background-color: darkgrey;
    }
    main{
        background-color: white !important;
    }
    #formation3{
        min-height: 20em;
    }
    #formation3 h2{
        font-size: 20px;
    }
    #formation3 p{
        width: 90%;
        font-size: 12px;
        margin-top: 2em;
    }
    #formation4{
        margin-top: 7em !important;
        min-height: 26em;
    }
    #formation4 img{
        margin-left: 40%;
        max-height: 6em;
        margin-top: 6em;
    }
    #formation4 .description{
        margin-top: 2em;
    }
    #formation4 p{
        font-size: 11px !important;
    }
}
/*Mobile*/
@media only screen and (max-width : 399px) and (min-width : 0px) {
    body{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .divsup{
        display: none;
    }
    .divbas{
        margin-top: 3em;
    }
    #formation1{
        margin-top: 0 !important;
        top: -2em;
    }
    #formation1{
        min-height: 20em;
    }
    #formation1 h1 {
        font-size: 30px;
        top: 6em;
    }
    #formation2{
        min-height: 20em;
        max-height: 60em;
    }
    .formationvideo{
        min-height: 18em !important;
        min-width: 100% !important;
        top: -6em;
    }
    body{
        background-color: darkgrey;
    }
    main{
        background-color: white !important;
    }
    #formation3{
        min-height: 20em;
    }
    #formation3 h2{
        font-size: 20px;
    }
    #formation3 p{
        width: 90%;
        font-size: 12px;
        margin-top: 2em;
    }
    #formation4{
        margin-top: 7em !important;
        min-height: 26em;
    }
    #formation4 img{
        margin-left: 30%;
        max-height: 6em;
        margin-top: 6em;
    }
    #formation4 .description{
        margin-top: 2em;
    }
    #formation4 p{
        font-size: 10px !important;
    }
}